<% flash.each do |key, value| %>
  <% if flash.key?(:warning) or flash.key?(:error)%>
    <h3 class="text-center "> <font color="red"> <%= content_tag :div, value, class: "flash #{key}" %></font></h3>
  <%else%> 
    <h3 class="text-center"> <font color="blue"> <%= content_tag :div, value, class: "flash #{key}" %></font></h3>
  <% end %>
<% end %>

